* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media (320px <= width <= 1024px) {
  html {
    font-size: 7px;
  }
}

body {
  font-family: "Jacques Francois", serif;
  background-color: #F5F5F5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body._lock {
  overflow: hidden;
}

a {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 24.2px;
  color: #17407D;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p {
  font-size: 2.4rem;
  color: #17407D;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 70px;
  font-family: "Jacques Francois", serif;
  font-size: 3.2rem;
  color: #fff;
  background-color: #17407D;
  cursor: pointer;
  border: none;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.36);
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
button:hover {
  background-color: #8E6B0F;
}
@media (320px <= width <= 1024px) {
  button {
    padding: 15px 50px;
    font-size: 2rem;
  }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}
@media (320px <= width <= 1400px) {
  .container {
    max-width: 1300px;
  }
}
@media (320px <= width <= 1280px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 30px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.36);
}
.header-nav {
  width: 30%;
}
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-search-input {
  padding-right: 15px;
  outline: none;
  border: none;
  width: 100%;
}
.header-search-icon {
  width: 40px;
  height: 40px;
  color: #cccccc;
  cursor: pointer;
}
@media (320px <= width < 600px) {
  .header {
    padding: 20px;
  }
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #ffefba;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    overflow: auto;
  }
  .header .active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header-search {
    display: none;
  }
  .header .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .header .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #222222;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .header .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .header .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .header .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
        -ms-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
  }
  .header .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
        -ms-transform: translate(-50%, 0%) rotate(-45deg);
            transform: translate(-50%, 0%) rotate(-45deg);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  max-width: 330px;
  width: 100%;
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-size: 3.6rem;
  color: #8E6B0F;
}

.full-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  height: 85vh;
}
.full-section-picture {
  max-width: 822px;
  width: 100%;
  height: 100%;
}
.full-section-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.full-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  max-width: 590px;
}
.full-section-title {
  font-size: 4.8rem;
  color: #8E6B0F;
}
@media (320px <= width <= 1200px) {
  .full-section {
    gap: 20px;
  }
}
@media (320px <= width <= 1024px) {
  .full-section-title {
    text-align: center;
  }
}
@media (320px <= width <= 968px) {
  .full-section-content {
    max-width: 400px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }
}
@media (320px <= width <= 600px) {
  .full-section {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.category-section {
  padding: 100px 0 20px 0;
  background-color: #fff;
}
.category-section-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 4rem;
  color: #8E6B0F;
  line-height: 53px;
}
.category-section-text {
  margin: 0 auto 30px auto;
  max-width: 838px;
}
.category-section-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  padding: 0 42px;
}
.category-section-gallery--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding: 30px 0 0 60px;
}
.category-section-gallery--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 85px;
  padding: 65px 35px 0 0;
}
.category-section-gallery-img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (320px <= width <= 1024px) {
  .category-section-text {
    max-width: 600px;
  }
}
@media (320px <= width <= 768px) {
  .category-section {
    padding-top: 40px;
  }
  .category-section-text {
    padding: 20px 40px;
  }
  .category-section-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .category-section-gallery--left {
    padding: 0;
    gap: 30px;
  }
  .category-section-gallery--right {
    padding: 0;
    gap: 30px;
  }
}

.make-you-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px 0 150px 0;
  background-color: #fff;
}
.make-you-section-content {
  padding: 210px 40px;
  width: 50%;
}
.make-you-section-picture {
  width: 50%;
}
.make-you-section-title {
  position: relative;
  margin-bottom: 100px;
  text-align: end;
  font-size: 4rem;
  color: #8E6B0F;
}
.make-you-section-title--white {
  position: absolute;
  color: #fff;
  right: -300px;
}
.make-you-section-text {
  margin-bottom: 70px;
}
@media (320px <= width <= 1024px) {
  .make-you-section-title--white {
    right: -250px;
  }
}
@media (320px <= width <= 768px) {
  .make-you-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
  }
  .make-you-section-content {
    padding: 50px 40px;
    width: 100%;
  }
  .make-you-section-picture {
    width: 100%;
  }
  .make-you-section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .make-you-section-title--white {
    position: initial;
    color: #8E6B0F;
  }
  .make-you-section-text {
    margin-bottom: 50px;
  }
}

.customer-section {
  padding: 0 40px 160px;
}
.customer-section-inner {
  padding: 170px 0 130px 0;
  background-image: url(assets/img/pendant-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.customer-section-content {
  max-width: 855px;
  margin: 0 auto;
  color: #fff;
  font-size: 2.4em;
}
.customer-section-title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
}
.customer-section-cite {
  display: inline-block;
  margin-top: 30px;
  font-style: normal;
}
@media (320px <= width <= 1024px) {
  .customer-section-inner {
    padding: 170px 30px 130px;
  }
}
@media (320px <= width <= 680px) {
  .customer-section {
    padding: 0 20px 70px;
  }
}

.footer {
  border-top: 4px solid #0F274A;
}
.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1430px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer-nav {
  width: 30%;
}
.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer-socials-link {
  max-height: 70px;
  max-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-socials-icon {
  height: 55px;
  width: 55px;
  color: #17407D;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.footer-socials-icon:hover {
  color: #8E6B0F;
}
.footer-copy {
  padding: 7px 0;
  text-align: center;
  background-color: #0F274A;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (320px <= width <= 1400px) {
  .footer-inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (320px <= width <= 768px) {
  .footer-socials {
    gap: 10px;
  }
  .footer-socials-icon {
    height: 35px;
    width: 35px;
  }
}
@media (320px <= width <= 680px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer-nav {
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */